
.bgHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%; 
  background-color: #e0d0c1a5;
}
.header {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.cvContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-left:1px solid black;
  padding-left: 20px;

}


.infoContainer {
  flex-direction: column;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  
}

.aboutText {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}
.aboutTextActive {
  text-decoration: none;
  color: #9ae8ff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.imageContainer:hover .aboutText {
  color: #9ae8ff;
}

.profileImage {
  border-radius: 50%;
  opacity: 60%;
  border: 2px solid black;
  margin-bottom: 5px;
  transition: border-color 0.3s ease;
}

.profileImageActive {

  border-radius: 50%;
  opacity: 60%;
  border: 2px solid #9ae8ff;
  margin-bottom: 5px;
  transition: border-color 0.3s ease; 
}

.imageContainer:hover .profileImage {
  border-color: #9ae8ff;
}

.active {
  text-decoration: none;
  color: #9ae8ff;
  font-weight: bold;
  border-bottom: 1px solid #9ae8ff;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    align-items: center; 
  }

  .cvContainer {
    margin-left: 0; 
    flex-direction: column; 
    gap: 5px; 
  }

  .infoContainer {
    text-align: center;
  }

  .imageContainer {
    margin-top: 10px; 
  }
}

@media (max-width: 480px) {
  .header {
    padding-block: 5px; 
  }

  .cvContainer {
    gap: 2px; 
  }

  .profileImage {
    width: 100px; 
    height: 100px; 
  }
}
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}


@media (max-width: 1200px) {
  .hamburger {
    display: block;
  }
  .cvContainer {
    border-left: none;
    padding-left: 0;
  }
}
